body{
   
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
header{
   background-color:rgba(255, 255, 255, 1);
min-width: auto;
}
#section-header{
display: flex;
justify-content: space-between;
height: auto;
padding-top: 1.5em;
padding-bottom: 1.5em;
padding-left: 3em;
padding-right: 3em;
}
#logo{
    width: 16rem;
    height: 3rem;
}
#buttons-menu{
position: relative;
top: 10px;
}
#menu{
color: rgba(71, 71, 71, 1);
padding-right:2rem ;
}
#menu:hover{
    text-decoration: underline;
}
#menuenter{
    text-decoration: none;
    color:white;
    background-color: rgba(201, 32, 113, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
}
#barra-de-pequisa{
    color:rgba(71, 71, 71, 1);
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#barra-pesquisa{
    height: 2.5rem;
    width: 30rem;
  opacity: 0.8;
 
    color: rgba(71, 71, 71, 1);
}
#btn-lupa{
    height: 2.9rem;
    width: 3rem;
    position: relative;
    top: 6px;
    right: 4px;
 

    
    color: rgba(71, 71, 71, 1);
}
#categorias-header{
display: flex;
justify-content: flex-start;
padding-left: 2rem;
}
#categorias{
    padding-left: 1rem;
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    padding-bottom: 2rem;
}
.search-bar{
    border-radius: 5px;
}
#categorias:hover{
    text-decoration: underline;
}
#categoriahome{
    color: rgba(201, 32, 113, 1);
    text-shadow: 1px 1px 1px 10px;
    padding-bottom: 2rem;
}
#oferta-completa{
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-section{ 
padding-left: 5rem;
}
#ofertas-personalizadas{
padding: 0%;
margin-top: 0%;
margin-bottom: 0;
color: rgba(246, 170, 28, 1);
letter-spacing: 0.75;
font-size: 1.3rem;
text-shadow: 1px 1px 1px black;
}
#Queima-de-estoque{
font-size: 5rem;
padding: 0%;
margin-top: 0%;
margin-bottom: 0;
}
#descricao-queima{
padding-bottom: 3rem;
font-size: 1.3rem;
}
#link-oferta{
text-decoration: none;
color: rgba(245, 245, 245, 1);
background-color: rgba(201, 32, 113, 1);
padding-top: 0.8rem;
padding-bottom: 0.8rem;
padding-left: 2.5rem;
padding-right: 2.5rem;
border-radius: 6px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#imagem-tenis{
    display: flex;
    align-items: center;
}
#img-sapato{
    width: 50rem;
    height: 40rem;
}
#colecao-em-destaque{
  background-color:rgba(255, 255, 255, 1);;
padding-left: 150px;
font-family: sans-serif;
color: rgba(71, 71, 71, 1);
}
#colecao{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 3rem;

}
#descontos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#tipos-de-roupas{
    display: flex;
    justify-content: start;
    background-color: rgba(216, 227, 242, 1);
    flex-wrap: wrap;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    height: 250px;
    box-shadow: 5px 5px 10px;
}
#porc-desconto{
display: flex;
justify-content: flex-start;
margin-left: 1rem;
width:5vw;
background-color: rgba(231, 255, 134, 1);
padding: 0.4rem;
border-radius: 10px;

}
#name-shirt{
    margin-top: 0;
    margin-bottom: 0;
font-size: 3rem;
flex-wrap: wrap;
padding-bottom: 10px;
z-index: 1;
font-family: sans-serif;
}
#img-shirt{
display: flex;
width: 13rem;
margin: 0%;
position: relative;
bottom: 11rem;
left: 6.8rem;
z-index: 0;
}
#img-calcado{
    display: flex;
    width: 13rem;
    margin: 0%;
    position: relative;
    bottom: 11.5rem;
    left: 6.8rem;
    z-index: 0;
}
#img-fone{
    display: flex;
    width: 13rem;
    margin: 0%;
    position: relative;
    bottom: 12.5rem;
    left: 6.8rem;
    z-index: 0;
}
#comprar{
    background-color: rgba(245, 245, 245, 1);
color: rgba(201, 32, 113, 1);
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2.5rem;
padding-right: 2.5rem;
border-radius: 6px;
margin-top: 0;
text-decoration: none;
margin: 0%;
z-index: 1;
font-family: sans-serif;
}
#envolve-produtos{
    background-color: rgba(245, 245, 245, 1);
}
#produtos{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin-left: 3rem;
margin-right: 3rem;
padding-bottom: 1rem;

}
#comeco-produtos{
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-between;
    align-items: center;

}
#ver-todos{
    text-decoration:none ;
    color: rgba(201, 32, 113, 1);
    letter-spacing: 0.75;
    margin-right: 5px;
}
#produtos-alta{
    display: flex;
    color: rgba(71, 71, 71, 1);
    font-family: sans-serif;
}
#valor-desconto{
    margin: 0;
   position: relative;
   top: 1rem;
   left: 1em;
   background-color: rgba(231, 255, 134, 1);
   width: 5vw;
   padding: 7px;
   border-radius: 15px;
}
#produto-individual{
    background-color: rgb(249, 247, 247);
    padding: 1rem;
 box-shadow: 2px 2px 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  

}
#sapato{
background-color: rgba(0, 0, 0, 0.05);
width:230px;
height: 210px;
margin-top: 0%;
padding: 1rem;
}
#img-calcados{
width: 15rem;
position: relative;
right: 1rem;

}
#enquadramento-sapato{
    display: flex;
    justify-content: center;
}
#descricao-produto{
color: rgba(71, 71, 71, 1);
letter-spacing: 0.75;
font-size: 25px;
}
#price-produto{
font-size: 20px;
}
#final-main{
margin-left: 2rem;
margin-right: 5rem;
flex-wrap: wrap;
height: 500px;
margin-top: 100px;
background-color: rgba(255, 255, 255, 1);
}
#finish{
    display: flex;
    justify-content: space-between;
}
#img-jordan{
margin-right: 5rem;
margin-left: 0%;
}

#jordan{
z-index: 2;
height: 400px;
width: 650px;
}
#descricao-jordan{
font-family: sans-serif;

}
#oferta-jordan{
    color: rgba(201, 32, 113, 1);
        font-family: sans-serif;
        
}
#name-jordan{
font-size: 50px;
margin-top: 0;
margin-bottom: 0;
color: rgba(71, 71, 71, 1);
}
#lorem-jordan{
color: rgba(71, 71, 71, 1);
padding-bottom: 2rem;
}
#link-jordan{
color: rgba(245, 245, 245, 1);
background-color: rgba(201, 32, 113, 1);
margin-top: 2rem;
text-decoration: none;
border-radius: 10px;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 5rem;
padding-right: 5rem


}
#footer-store{
background-color: rgba(31, 31, 31, 1);
display: flex;

height: 400px;
width: 100%;
color: rgba(255, 255, 255, 1);
margin-bottom: 0;
}
#final-pag-principal{
    max-width: 30%;
    margin-left: 5rem;
    margin-right: 4rem;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-bottom: 0;
   
}
#digital-store{
font-size: 50px;
}

#final-pag-principal{
padding-top: 5rem;


}

footer{
   margin: 0;
    display: flex;
    justify-content: center;

   background-color: rgba(31, 31, 31, 1);
}
#fotter-digital{
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(255, 255, 255, 1);
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
}
#footer{
    margin-top: 0;
}
@media  screen and (max-width:50em) {
#img-sapato,#imgcarrinho,#btn-lupa{
 display: none;
}
    #ofertas-personalizadas{
        font-size: 1rem;
    }
    header{
      
        display: flex;
        justify-content: center;    
        align-items: center;
        flex-direction: column;
    }
    #section-header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 95%;
       
        margin:0 ;
    }
    #logo{
        width: 50%;
        height: 30px;
        padding-right: 1em;
    }
    #barra-pesquisa{
        width: 26vw;
        margin-right: 1em;
        height: 2em;
        display: flex;
        justify-content: end;    
            align-items: center;
    }
    #menuenter{
        width: auto;
        height: auto;
        padding: .3em;
    
    
    }
    #buttons-menu{
        display: flex;
        justify-content: space-between;
        align-items: start;
       font-size: 1em;
       width: 30%;
   
    }
    #menu{
   
      text-align: center;
      padding-left: .5em;
  
    }
}


